body{
    background: linear-gradient(to right, rgb(145, 197, 255), rgb(213, 173, 255) );
  }
  #img1{
    margin-top: 70px;
  }
  nav {
    background-color: rgb(98, 98, 238);
    height: 60px;
    overflow: hidden;
    font-size: 30px;
    position: fixed; /* Mantém a nav fixa na tela */
    top: 0; /* Posiciona no topo da página */
    width: 100%; /* Faz a nav ocupar toda a largura */
    z-index: 1000; /* Garante que a nav fique acima de outros elementos */
}

.assistencias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 2rem;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.card img{
    width: 200px;
}


.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color:  rgb(101, 136, 210);
    margin-bottom: 1rem;
    font-size: 50px;
}

.card p {
    color: #5a4c6e;
    margin-bottom: 1rem;
    font-size: 25px;
}

button {
    padding: 0.75rem;
    background-color:rgb(101, 136, 210);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: rgb(99, 162, 235);
}


  #logooo{
      margin-top: 10px;
      float: left;
      margin-left: 50px;
  }
  nav a{
      text-decoration: none;
      color: white;
      float: left;
      margin-left: 10px;
      padding: 15px 50px;
      font-family: sans-serif;
      
  }
  nav a:hover{
      color: rgb(255, 196, 0);
      background-color: rgb(16, 127, 255);
  }
 
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .info {
      text-align: center;
      padding: 2rem;
      margin-top: 50px;
  }
  
  .info img {
      width: 45%;
      margin: 10px;
  }
  
  section {
      padding: 2rem;
      background: linear-gradient(to right, rgb(145, 197, 255), rgb(213, 173, 255) );
      border-bottom: none;
      font-size: 30px;
      font-family: sans-serif;
      color: #5a4c6e;
  }
  
  h2 {
      margin-bottom: 1rem;
  }
  footer {
      background:  rgb(126, 160, 233);
      color: #fff;
      padding: 1rem;
      text-align: center;
      margin-top: 50px;
  }
  
  footer a {
      color: #fff;
      text-decoration: none;
  }
  
@media (max-width: 768px) {
    .assistencias-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}